.navBar-profile-pic img{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 10px;
}
.nav-items{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
}